<footer class="footer">
    <div class="container text-center">
                             <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/vivien-billot-a86b2557/" target="_blank">
                        <i class="fa fa-linkedin fa-2x "  aria-hidden="true"></i>
                    </a>
                    <a class="cc-codingame btn btn-link" href="https://www.codingame.com/profile/534d2045d7dc0057e6d53d29336657fe6190191" target="_blank">
                      <img src="assets/images/codingame3.png" width="25"  alt="Image" />
                    </a>
                    <a class="cc-github btn btn-link " href="https://github.com/VivienBio" target="_blank">
                      <i class="fa fa-github fa-2x " aria-hidden="true"></i>
                    </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>
