<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Expériences professionnelles</div>
    <div class="row">
      <ul class="timeline">
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-8">
                <div class="h5 mt-0 title">  <a href="https://www.rentacar.fr/" target="_blank">
                  <img src="assets/images/rac.png" alt="rentacar website" style="width:99px;height:99px;">
</a></div>

                <div class="h6 mt-0 title">
                  Tech Lead Software Engineer (depuis décembre 2018)
                </div>
                <p align="justify">
                  Sous la direction du CTO et du DSI, je suis devenu Responsable
                  technique de l’équipe de développement (9 personnes). En
                  relation étroites avec les Products Owners et les équipes
                  métier, j’ai pu contribuer au succés des missions suivantes :
                </p>
                <ul>
                  <li class="non_list">
                    Définition de l’architecture, planification et assignation
                    des taches de l’équipe
                  </li>
                  <li class="non_list">
                    Signature électronique des documents liés aux locations de
                    vehicules avec l’API Yousign
                  </li>
                  <li class="non_list">
                    Etat des lieux dématérialisés avec Weproov
                  </li>
                  <li class="non_list">
                    Ajout d'un module de Checkin digitale comme pour les
                    compagnies aériennes, afin de reduire le temps d'attente en
                    agences
                  </li>
                  <li class="non_list">
                    Développement de « Easy Péage » premier service de paiement
                    de péages embarqué à bord d’un véhicule de location en
                    Europe en partenariat avec VerraMobility
                  </li>
                  <li class="non_list">
                    Création d’un référentiel client unique RGPD (RCU/SCV), en
                    complément des bases de données par franchisé et succursale
                  </li>
                  <li class="non_list">
                    Tokenisation des données bancaires avec l’API PaySecure de
                    FirstData
                  </li>
                  <li class="non_list">
                    Avec le pôle E-Commerce et Devoteam, refonte from scratch du
                    site e-commerce a fort traffic de l’entreprise, définition
                    de la Roadmap – User stories et développement depuis nos
                    micro-services
                  </li>
                  <li class="non_list">
                    Structuration de l’équipe en pôle de compétence
                    (Développement, Environnement, DevOps)
                  </li>
                  <li class="non_list">Dockerisation du SI</li>
                  <li class="non_list">
                    Migration des environnements vers AWS
                  </li>
                  <li class="non_list">
                    Monitoring / Logging avec la suite ELK
                  </li>
                  <li class="non_list">Analyse de la solution MQ de Amazon</li>
                  <li class="non_list">Recrutements et Encadrements</li>
                </ul>

                <div class="h5 mt-0 title">
                  <hr />
                </div>
                <div class="h6 mt-0 title">
                  Senior Software Engineer (Décembre 2017 - Novembre 2018)
                </div>
                <p align="justify">
                  Dans le cadre d’une refonte SI au sein de Rentacar, réseau de
                  location de véhicules utilitaires et particuliers de plus de
                  500 agences en France, j’ai pu mettre en place une équipe
                  agile de 4 développeurs pour entamer une refonte de l’ERP
                  existant.
                </p>
                <ul>
                  <li class="non_list">
                    Création des micro-services .net dans le but de remplacer le
                    legacy suivant le DDD
                  </li>
                  <li class="non_list">
                    Avec le Revenu Manager, développement d’un processus de
                    Pricing dynamique depuis nos diffèrent canaux de réservation
                    en utilisant le produit Pricemoov
                  </li>
                  <li class="non_list">
                    Développement depuis l’architecture distribuée de la
                    réservation libre-service avec notre startup Carmoov
                  </li>
                  <li class="non_list">
                    Implémentation d’un front pour la déclaration des
                    contraventions permettant de remplacer la gestion par
                    courrier
                  </li>
                  <li class="non_list">
                    BFF pour la gestion de l’interface ANTAI et la communication
                    des infos à l’organisme d’état
                  </li>
                  <li class="non_list">
                    Valorisation des bonnes pratiques - Software craftsmanship -
                    SOLID - Tests TDD
                  </li>
                  <li class="non_list">
                    Elaboration de l’usine logiciel - CI / CD AzureDevOps – Git
                    - Pull request
                  </li>
                  <li class="non_list">
                    Mise en place d’un Cycle de développement inspiré des
                    méthodologies Agiles SCRUM
                  </li>
                  <li class="non_list">
                    Reporting et Maintenance applicative de l’existant - Zendesk
                  </li>
                  <li class="non_list">
                    Gestion de l’API management IBM API Connect
                  </li>
                  <li class="non_list">
                    Compréhension du monde de la mobilité et de sa révolution
                  </li>
                </ul>
                <br>
              </div>
              <div class="col-lg-4 align-self-center">
                <ul>
                  <li class="list">Mes missions</li>
                  <ul>
                    <li class="non_list">Architecture distribuée</li>
                    <li class="non_list">Developpement de qualité</li>
                    <li class="non_list">
                      Repondre aux attentes des utilisateurs
                    </li>
                    <li class="non_list">Amelioration de la partie DevOps</li>
                    <li class="non_list">Cohésion de l'équipe</li>
                    <li class="non_list">Montée en compétences</li>
                    <li class="non_list">
                      Respect du
                      <a href="https://agilemanifesto.org/iso/fr/principles.html" target="_blank">manifeste agile</a>
                    </li>
                  </ul>
                  <br />
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Azure</li>
                        <li class="non_list">AWS</li>
                        <li class="non_list">Docker</li>
                        <li class="non_list">Git</li>
                        <li class="non_list">ASP.Net Core</li>
                        <li class="non_list">.Net Core</li>
                        <li class="non_list">.Net</li>
                        <li class="non_list">Linq</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">Swagger</li>
                        <li class="non_list">EF Core</li>
                        <li class="non_list">OrmLite</li>
                        <li class="non_list">Postgres</li>
                        <li class="non_list">Oracle</li>
                        <li class="non_list">MongoDb</li>
                        <li class="non_list">HTML</li>
                        <li class="non_list">Rest</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-8">
                <div class="h5 mt-0 title">
                  <a href="https://www.stago.com/" target="_blank">
                                       <img src="assets/images/stago.jpg" alt="Stago website" style="width:99px;height:99px;">
                  </a>
                </div>
                <div class="h6 mt-0 title">
                  Responsable d'équipe R&D (Décembre 2015 - Novembre 2017)
                </div>
                <p align="justify">
                  Responsable de l’une des équipe (8 personnes) dédiée au développement de l’application logicielle d'une nouvelle gamme d'automates de diagnostics In-Vitro.
                </p>
                <ul>
                  <li class="non_list"> Déploiement de nouvelles fonctionnalités, maintenance et refactoring de l’existant (WPF, C#)</li>
                  <li class="non_list"> Conception de solutions techniques adaptées au fonctionnels (DesignPattern, UML, SOLID, MVVM)</li>
                  <li class="non_list"> Déclinaisons des méthodologies Agiles (Rétrospectives, PairProgramming, Planning poker, Kanban)</li>
                  <li class="non_list"> Indicateurs pour évaluer les performances</li>
                  <li class="non_list"> Intégration continue (Git, TeamCity)</li>
                  <li class="non_list"> Recrutements et formations</li>
                </ul>
                <div class="h5 mt-0 title">
                  <hr />
                </div>
                <div class="h6 mt-0 title">
                  Responsable d'étude R&D (Décembre 2012 - Novembre 2015)
                </div>
                <p align="justify">
                  Développement de la couche software d'une nouvelle gamme d'automates d'analyses sur l'hémostase, avec une spécialisation sur la partie calcul des resultats patients :
                </p>
                <ul>
                  <li class="non_list">Développement de nouvelles fonctionnalités et d'un Framework pour le calcul des résultats patients. (C#, .Net, PostGre SQL, VS, NDepend, NInject, NHibernate, Automapper, WCF, WPF, NUnit, TeamCity, TDD, SVN)</li>
                  <li class="non_list">Suivi et encadrements de prestataires</li>
                  <li class="non_list">Cycle de développement inspiré des méthodologies Agiles</li>
                  <li class="non_list">Administrateur du logiciel de gestion des exigences, mise en place d'outils et de formations (IBM Rational DOORS, DXL)</li>
                  <li class="non_list">Familiarisation au monde médical afin d'acquérir une expertise métier</li>
                </ul>
                <br>
              </div>
              <div class="col-lg-4 align-self-center">
                <ul>
                  <li class="list">Mes missions</li>
                  <ul>
                    <li class="non_list">Developpement de qualité</li>
                    <li class="non_list">
                      Repondre aux attentes des utilisateurs
                    </li>
                    <li class="non_list">Encadrement de l'équipe</li>
                    <li class="non_list">Montée en compétences</li>
                    <li class="non_list">
                      Organisation des rituels Agiles
                    </li>
                  </ul>
                  <br />
                       <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">C#</li>
                        <li class="non_list">.Net</li>
                        <li class="non_list">Linq</li>
                        <li class="non_list">WPF</li>
                        <li class="non_list">NHibernate</li>
                        <li class="non_list">Postgres</li>
                        <li class="non_list">NUnit</li>
                        <li class="non_list">WCF</li>
                        <li class="non_list">NDepend</li>
                        <li class="non_list">Git</li>
                        <li class="non_list">TeamCity</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-8">
                <div class="h5 mt-0 title"> <a href="https://www.bentley.com/en" target="_blank">
                  <img src="assets/images/bentley.jpg" alt="Bentley website" style="width:99px;height:99px;">
</a></div>
                <div class="h6 mt-0 title">
                 Junior Software Engineer (Avril 2012 - Novembre 2012)
                </div>
                <p align="justify">
                  Développeur d'applications sur MicroStation V8i. Finalisation et documentation du Framework de développement d'Applications Génie Civil :
                </p>
                <ul>
                  <li class="non_list">Réalisation de la maquette d'un Editeur Interactif d'Expressions Paramétriques: analyse, conception et implémentation du modèle de classes</li>
<li class="non_list">Développement en C# d'un outil interactif de vérification de l'intégrité des données et de réparation</li>
<li class="non_list">Intégration avec le moteur d'évaluation de règles du Framework</li>
<li class="non_list">Définition et implémentation des tests unitaires</li>
<li class="non_list">Réalisation d'outils interactifs de définition d'expressions, basés sur le Framework</li>
<li class="non_list">Mise à jour des diagrammes UML et amélioration du site Wiki de description du Framework à l'usage des développeurs</li>
<li class="non_list">Participation aux étapes du cycle de développement basé sur la méthode Scrum</li>
                </ul>
                <br>
              </div>
              <div class="col-lg-4 align-self-center">
                <ul>
                  <li class="list">Missions</li>
                  <ul>
                    <li class="non_list">Development</li>
                    <li class="non_list">Agile</li>
                  </ul>
                  <br />
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">C++</li>
                        <li class="non_list">C#</li>
                        <li class="non_list">.Net</li>
                        <li class="non_list">Linq</li>
                        <li class="non_list">SVN</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-8">
                <div class="h5 mt-0 title"> <a href="https://www.total.com/fr" target="_blank">
                  <img src="assets/images/total.png" alt="Total website" style="width:99px;height:99px;">
</a></div>
                <div class="h6 mt-0 title">
                 Ingénieur stagiaire (Fevrier 2011 - Aout 2011)
                </div>
                <p align="justify">
                 Création d'un outil de suivi et d'analyse sur le système de management du transport d'hydrocarbures sur la zone Afrique Moyen-Orient.
                </p>
                <ul>
                  <li class="non_list">Mise en place d’un formulaire d’audit sur le management du transport d’hydrocarbures en VB\Excel</li>
                  <li class="non_list">Développement d’une base de données VB\Access permettant le suivi et l'analyse des audits</li>
                  <li class="non_list">Documentation des outils misent en place (Cahier des charges, notice)</li>
                  <li class="non_list">Participation aux formations chauffeurs (APTH, Le Creusot)</li>
                  <li class="non_list">Suivi d’un projet d’installation de simulateur pour la formation des chauffeurs</li>
                </ul>
                <br>
              </div>
              <div class="col-lg-4 align-self-center">
                <ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">VB</li>
                        <li class="non_list">Access</li>
                        <li class="non_list">Excel</li>
                                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
