<div class="section" id="education">
  <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Formation</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500" background="assets/images/total.png">

                                              <div class="card-body cc-education-header">
                                                <a href="https://www.esilv.fr/" target="_blank">
                                                  <img src="assets/images/ESILV.jpg" alt="Esilv website" style="width:75px;height:75px;">
                                </a>
                            <p>2007-2012</p>
                        <div class="h5">Diplôme d’ingénieur (CTI)</div>
                        <p>option Calcul scientifique</p>
                        </div>
                    </div>

                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Master 2 - Ingenieur généraliste</div>
                            <h4 class="category">Ecole Supérieure d'Ingénieurs Léonard de Vinci, Paris La défense</h4>
                            <ul>
                               <li>Analyse matricielle et fonctionnelle</li>
                               <li>Probabilités et statistiques</li>
                               <li>Mécaniques</li>
                               <li>Algorithmique et programmation</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                          <a href="https://www.ulaval.ca/" target="_blank">
                            <img src="assets/images/laval.png" alt="Laval website" style="width:75px;height:75px;">
          </a>
                            <p>2010-2011</p>
                        <div class="h5">Echange universitaire</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Département Mathématiques</div>
                                <h4 class="category">Université Laval, Québec Canada</h4>
                                <ul>
                                        <li>Mathématiques de l’incertain</li>
                                        <li>Equations aux dérivées ordinaires et partielles (EDO, EDP)</li>
                                        <li>Robotique</li>
                                        <li> Mécaniques des fluides</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                        <div class="h5">Divers</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                                <ul>
                                        <li>Formation C# avancé, Valtech Training</li>
                                          <li>Formation bonnes pratiques et design pattern, LearningTree</li>
                                            <li>Formation Management, EFE</li>
                                              <li>Formations Agile par differents coachs</li>
                                                <li>Formation recrutement tech par le cabinet Mobiskill</li>
                                                  <li>Veille techno</li>
                                </ul>
                    </div>
                </div>
            </div>
    </div>
</div>
